
.about {
  zoom: 192%;
  display: inline-block;
  width: 231px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 9px;
  box-shadow: 5px 8px 8px #888888;
  }

  .carousel {
    margin-top: 8px;
    margin-bottom: 7px;
    height: 250px;
  }

  .card {
    height: 250px;
    border: none;
    background-color: #f8f9fa!important;
  }

.content-section {
  padding-top: 6.5rem;
}
.services-list {
  width:100%;
  display: flex;
  text-align: start;
  padding: 3px;
  flex-wrap: wrap;
  
}
ul.services-list li {
  margin-right: 28px;
}

/* fixed call us card */
.call-us {
  height: 55px;
  position:fixed;
  bottom:5px;
  right:5px;
  border-radius: 3px; 
  background-color: #ecb807!important;
  max-width: 281px;
  padding: 5px;
}

.portfolio-pic {
  background: linear-gradient(to bottom, rgba(0,0,0,0.40) 66%, transparent), url('../img/deseret1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 370.25px;
}
/* 
.offerings:before {
  font-family: FontAwesome;
  content: "\f14a";
  display: inline-block;
  padding: 5px;
  vertical-align: text-top;
  
} */

.offerings {
  list-style-type: none;
}